/* * {
  outline: 1px solid rgba(255, 0, 0, 0.7);
} */

body {
  display: flex;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background-color: #f7fafc;
  font-family: "Poppins", sans-serif;
}

#progressBar {
  background-image: repeating-linear-gradient(
    -45deg,
    #0a174b 0 5px,
    #263886 5px 10px
  );
}
