* {
  outline: 1px solid rgba(255, 0, 0, 0.7);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

.custom-columns {
  column-count: 1;
  column-gap: 2rem;
}

@media (min-width: 768px) {
  .custom-columns {
    column-count: 2;
  }
}

.column-item {
  break-inside: avoid-column;
}
