* {
  /* outline: 1px solid rgba(255, 0, 0, 0.7); */
}

/* html {
  scroll-behavior: smooth;
} */

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

/* Styles for the initial state */
nav.initial {
  transform: translatey(0);
  opacity: 1;
}

/* Styles for the scrolled state */
nav.scrolled {
  transform: translateY(-100%);
  opacity: 0.8; /* Adjust the opacity as needed */
}
