/* Add CSS here */
/* * {
  outline: 1px solid rgba(255, 0, 0, 0.7);
} */

body {
  display: flex;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background-color: #f7f9ff;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 19rem;
  background-color: #ffffff;
  height: 30rem;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.headerContainer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  width: 100%;
  height: 74%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.headerLeftItem {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-left: 2rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.headerRightItem {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8a82ef;
  color: white;
}

.searchContainer {
  margin-top: 1rem;
  width: 84%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

input {
  margin: 0;
  width: 100%;
  height: 80%;
  padding: 1rem;
  padding-left: 2.5rem;
  border: 1px solid #e7ebf4;
  border-radius: 4px;
}

.repositoriesContainer {
  width: 86%;
  margin-top: 2rem;
  font-size: 0.8rem;
  font-weight: 500;
}

ul {
  list-style-type: none;
  line-height: 2.5;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
}

.locker {
  padding-right: 0.5rem;
}

.searchIconContainer {
  width: 2.4rem;
  position: absolute;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a9afc2;
}

a {
  margin-top: 2rem;
  width: 66%;
  display: flex;
  align-items: center;
  color: #8a82ef;
  font-size: 0.8rem;
  font-weight: 500;
}

.footer {
  width: 100%;
  height: 16%;
  background-color: #8a82ef;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
