/* Add CSS here */
body {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eef2f9;
  font-family: "Wix Madefor Display", sans-serif;
}

.container {
  max-width: 700px;
  height: 500px;
  background-color: #ffffff;
  margin: auto;
  border-radius: 7px;
  box-shadow: -0px 15px 40px -30px #dbe3ee;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.leftElement {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.rightElement {
  width: 68%;
  display: flex;
  flex-direction: column;
}

.imageBox {
  width: 196px;
  height: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}

.imageContainer {
  width: 196px;
  height: 196px;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.freeShipping {
  color: white;
  background-color: #21204d;
  width: 6.2rem;
  border-radius: 30px;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
}

.title {
  padding-top: 0.6rem;
  color: #21204d;
  font-size: 1.2rem;
  font-weight: 800;
  display: flex;
}

.strikeThrough {
  text-decoration-line: line-through;
  color: #21204d;
  font-size: 1rem;
  padding-top: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
}

.price {
  padding-top: 0.5rem;
  color: #21204d;
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  justify-content: flex-start;
}

.offerSpecs {
  color: #807f99;
  font-weight: 500;
  font-size: 0.8rem;
  padding-top: 0.3rem;
}

.buttonContainer {
  padding-top: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button {
  background-color: #4787e9;
  width: 100%;
  padding: 0.8rem 2rem 0.8rem 2rem;
  color: white;
  border-radius: 7px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-width: 0.4rem;
  border-bottom-color: #1c57ee;
}

.stockContainer {
  padding-top: 1.5rem;
  width: 40%;
  display: flex;
  align-items: center;
}

.stockDot {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #00d98b;
  border-radius: 50%;
}

.stockText {
  font-size: 0.8rem;
  font-weight: 700;
  padding-left: 0.5rem;
}

.footerButtonContainer {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.whiteButton {
  padding: 0.7rem 1rem 0.7rem 1rem;
  background-color: #ffffff;
  color: #21204d;
  border-radius: 5px;
  border-color: #ccccdc;
  border-width: 2px;
  font-weight: 600;
  margin-right: 1rem;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    min-width: 300px;
    flex-direction: column;
    align-items: center;
    height: 90%;
  }
  .leftElement {
    width: 100%;
    justify-content: center;
  }
  .rightElement {
    width: 100%;
  }

  .strikeThrough {
    justify-content: flex-end;
  }

  .price {
    justify-content: flex-end;
  }

  .footerButtonContainer {
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
    height: 70%;
  }

  .whiteButton {
    width: 48%;
    padding: 0.7rem 1rem 0.7rem 1rem;
    font-size: 0.8rem;
    margin-right: 0;
  }
  .button {
    width: 100%;
  }

  .buttonContainer {
    padding-top: 0.5rem;
    width: 100%;
  }

  .stockContainer {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 479px) {
  .imageContainer {
    width: 128px;
    height: 128px;
  }
  .imageBox {
    width: 128px;
    height: 128px;
  }
}
