* {
  /* outline: 1px solid rgba(255, 0, 0, 0.7); */
}

.bg-my-image {
  background-image: url("https://images.pexels.com/photos/3305/numbers-money-calculating-calculation.jpg");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.custom-columns {
  column-count: 1;
  column-gap: 2rem;
}

@media (min-width: 768px) {
  .custom-columns {
    column-count: 2;
  }

  .column-item {
    break-inside: avoid-column;
  }

/* bg-my-image bg-cover */
